
.App {
  text-align: center;
}


.List-Format {
  margin: 10px;
  border-style: groove;
}

li {
  background-color: rgb(75, 74, 74);
  color: white;
  height: 50px;
  font-size: large;
  align-content: center;
}

input {
  margin: 8px;
  height: 25px;
  border-radius: 5px;
}

button {
  height: 25px;
}

h2 {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}


