.App {
  text-align: center;
  background-color:#F5D629;
}

.First-Title {
  color: #D05353;
}
.Second-Title {
  color: #191919;
}
.Component-Title {
  color: #191919;
}

table {
  text-align: center;
  border: #5F5245 2px solid;
  width: 1500px;
  border-collapse: collapse;
}

th {
  border: #000000 2px solid;
  border-collapse: collapse;
  background-color: #000000;
  color: white;
}

input {
  margin: 5px;
}


.Submit-Button{
  background-color: #DC682E;
  border-style:double; 
}

.Submit-Button:hover{
  background-color: #EDB396;
}


